.list__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.btn__container {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.btn {
    width: 220px;
    padding: 20px;
    border-radius: 10px;
}

.btn:hover {
    background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
    transition: all 0.2s ease;
}

.loadingData {
    display: flex;
    text-align: center;
}

.empty {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.filter {
    padding: 2rem;
}

.filter select {
    width: 100px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.headline {
    display: grid;
    gap: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem;
    margin-bottom: 4rem;
}


.list__item  {
    display: grid;
    gap: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem;
    border-bottom: 1px solid black;
} 