.list__container{
    display: grid;
    grid-template-columns: 1fr;
}

.list__container h2 {
    display: flex;
    width: 100%;
}

.btn__container {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.btn {
    width: 220px;
    background-color: rgb(25, 155, 215);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(25, 155, 215);
    opacity: 0.5;
    transition: all 0.2s ease;

}

.empty {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.categories {
    display: grid;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    gap: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 2rem;
    margin-bottom: 4rem;
}

.list__item__row{
    display: grid;
    position: relative;
    gap: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: box-shadow .3s;
    border-bottom: 1px solid black;
}

.reactIconsContainer {
    display: flex;
    justify-content: space-around;
}

.list__item__row:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}