*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.new-user__container{
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.new-user input{
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.submit-btn__container{
    display: flex;
    justify-content: center;
}

.btn {
    padding: 1rem;
}

.error__container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.error-text{
    color: red;
    font-weight: bold;
}

