.formHeadline {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  position: relative;
  min-height: auto;
}

.userContainer {
  margin-bottom: 0px;
  margin-right: 4rem;
  display: block;
}

.firstLayerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -1rem;
}

.firstLayerField {
  flex: 0 0 calc(50% - 1rem);
  margin-right: 1rem;
}

.nameFieldSpecs {
  position: relative;
  margin-bottom: 0.75rem;
  min-height: 2rem;
}

.nameLabel {
  display: block;
}

span {
  float: left;
  display: block;
  margin: 0px 0.25rem 0px 0px;
  min-height: initial;
  max-width: calc(100% - 1.25rem);
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.0125rem;
  line-height: 1.25rem;
  color: rgb(43, 55, 70);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstLayerInputWrapper {
    position: relative;
}

.nameLabel {
  margin: 1rem;
}

.modalButton {
  display: inline-block;
  background-color: rgb(215, 25, 34);
  height: 2rem;
  line-height: 1.9rem;
  padding: 0px 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 0.857143em;
  font-weight: 600;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  transition: color 100ms ease-in-out 0s, background-color 100ms ease-in-out 0s, border-color 100ms ease-in-out 0s, box-shadow 100ms ease-in-out 0s;
}

.nameFieldInput {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(205, 213, 223);
    padding-left: 0.6rem;
    color: rgb(43, 55, 70);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.0125rem;
}

.nameFieldInputError {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem;
  border: 1px solid red;
  padding-left: 0.6rem;
  color: rgb(43, 55, 70);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.0125rem;
}

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.removalContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
}

.deleteHeadline{
  display: flex;
  justify-content: center;
}

.deleteContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.deleteButton {
  background-color: #d11a2a;
  height: 2rem;
  line-height: 1.9rem;
  padding: 0px 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 0.857143em;
  font-weight: 600;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  transition: color 100ms ease-in-out 0s, background-color 100ms ease-in-out 0s, border-color 100ms ease-in-out 0s, box-shadow 100ms ease-in-out 0s;
}

.paragraphContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
    display: inline-block;
    background-color: rgb(25, 155, 215);
    height: 2rem;
    line-height: 1.9rem;
    padding: 0px 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 0.857143em;
    font-weight: 600;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    transition: color 100ms ease-in-out 0s, background-color 100ms ease-in-out 0s, border-color 100ms ease-in-out 0s, box-shadow 100ms ease-in-out 0s;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.radioBtn {
  margin-top: 2.5rem;
}

.submit-btn__container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  margin-bottom: 2rem;
}

.btn div {
  padding-left: 5px;
  padding-right: 5px;
}

.errorMsg {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
}

@media only screen and (max-width: 1300px) {
  .form {
    margin-left: 7rem;
    margin-right: 3rem;
    margin-top: 2rem;
    border: 1px solid beige;
    height: 70%;
    width: 80%;
  }
}
