
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  box-sizing: none;
  list-style: none;
  text-decoration: none;
}


:root{

  --color-bg: #fff;
  --text-color: #000;
  --color-white: #fff; 
  --color-light: rgba(255, 255, 255, 0.6);
  --color-dark: #133337;
  --container-width-lg: 100%;
  
  
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}


section {
  padding: 1.5rem;
}

section > h2,
section > h5 {
    text-align: center;
    color: var(--color-dark);

}